
.zilla-slab-light {
    font-family: "Zilla Slab", serif;
    font-weight: 300;
    font-style: normal;
  }

html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    font-family: "Zilla Slab";
}

h1 {
    font-size: 2.2em;
    letter-spacing: 6px;
    font-weight: 600;
    /* margin-bottom: 0; */
    color: #dadfe6;
}

h2 {
    font-size: 1.2em;
    font-weight: 300;
    margin-bottom: 0;
}

h3 {
    font-size: 1em;
    font-weight: 600;
    margin: 0;
    text-align: center;
}

a {
    color: #001B39
}

#app {
    background-color: #001B39
}

#header-container {
    display: flex;
    background-color: #001B39;
    width: 100vw;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
}

.settings-container {
    background-color: #dadfe6;
    display: flex;
    width: 100%;
    padding: 0.20em;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.setting{
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin: 1em 2em;
}

.setting h3 {
    color: #224866;
    padding-left: 10px;
}

.setting-item-container {
    display: flex;
    margin-top: 1em;
    flex-direction: row;
}

.setting-item {
    color: grey;
    margin: 0 0.75em;
}

.setting-item.active {
    color: #001B39;
}


#canvas {
    aspect-ratio: 16 / 9;
    height: 60vh;

    overflow: scroll;
    background-color: white;
    border-left: solid #dadfe6 10px;
    border-right: solid #dadfe6 10px;
    border-bottom: solid #dadfe6 10px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

#pattern {
    background-image: url("images/snow-pattern.jpg");
    background-size: 300px 300px;
    background-repeat: repeat;
    background-position: bottom 50px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}